@tailwind base;

@layer base {
  h1 {
    @apply text-4xl font-bold tracking-tight sm:max-w-xl sm:text-6xl;
  }
  h2 {
    @apply text-2xl sm:text-4xl font-semibold;
  }
  h3 {
    @apply text-xl sm:text-3xl font-semibold;
  }
  section {
    @apply py-20 sm:py-36;
    height: 618px;
  }
  button {
    @apply bg-lime-600 rounded-md px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2;
  }
  .marquee{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    position: relative; /* Necessário para posicionamento do texto */
  }

  .marquee p{
    display: inline-block;
    padding-left: 100%;
    animation: marquee 8s linear infinite;
    font-size: 1.5rem;
  }
  

  @keyframes marquee {
    0% {
      transform: translateX(100%); /* Começa fora da tela à direita */
    }
    100% {
        transform: translateX(-100%); /* Mantém fora da tela */
    }
    
  }
  .main-background{
    background-image: url('https://images.unsplash.com/photo-1587582423116-ec07293f0395?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Uma imagem de teste */
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor preta com 50% de opacidade */
    overflow: hidden; /* Evita overflow do conteúdo */
}

.main-background::before {
  content: ''; /* Necessário para criar um elemento */
  position: absolute; /* Posiciona o overlay sobre a imagem */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Cor preta com 50% de opacidade */
  z-index: 1; /* Coloca o overlay acima da imagem */
}

.main-background h1, .main-background p, .main-background button, .main-background header {
  position: relative; /* Necessário para o texto ficar acima do overlay */
  z-index: 2; /* Garante que o texto esteja acima do overlay */
  color: white; /* Ajuste a cor do texto conforme necessário */
}

}

@tailwind components;
@tailwind utilities;




html {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  padding: 0;
}

header{
  grid-column:full-width-start / full-width-end;
  padding: none;
}

main {
  --padding-inline: 1px;
  --content-max-width: 100%;
  --breakout-max-width: 1400px;

  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];

    height: 100%;
} 

main > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.breakout {
  grid-column: breakout;
}

.full-width {
  grid-column: full-width;

  display: grid;
  grid-template-columns: inherit;
}